/*#171717  #444444  #DA0037  #EDEDED */

body {
  background-color: #171717;
}

hr {
    border-color: #DA0037;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%
}

h1 {
    color: #EDEDED;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    color: #EDEDED;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.writing{
    color: #EDEDED;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:visited{
    color: #444444;
}

.profil_foto{
    border-radius: 50%;
    max-width: 270px;
    height: auto;
}
